header {
    height: 100px;

}
#starwars {
    float: right;
    padding-right: 250px;

}


body {

}
#character, #enemies, #fight {
    clear: both;
    
}

#skywalkerHP, #fettHP, #vaderHP, #soloHP {
    width: 230px;
    height: 15px;
    z-index: 1;
    text-align: center;
    margin: 0;
    float: left;
}

#skywalkerHP{
    position: relative;
    right: 236px;
    top: 175px;
}

#fettHP{
    position: relative;
    right: 472px;
    top: 175px;
}

#vaderHP{
    position: relative;
    left: 492px;
    bottom: 21px;
}

#soloHP{
   position: relative;
   left: 492px;
   bottom: 21px;
}

#skywalkerImage {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
    /* z-index: -1;
    position: relative; */

}

#fettImage {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
    /* z-index: -1; */
    /* position: relative;
    right: 230px; */
}

#vaderImage {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
    /* z-index: -1; */
    /* position: relative;
    right: 460px; */
}

#soloImage {
    width: 200px;
    height: 150px;
    /* float: left; */
    padding: 15px;
    border: solid green ;
    /* z-index: -1; */
    /* position: relative;
    bottom: 196px;
    left: 273px; */

}

#skywalkerImageCharacter {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
    
}

#fettImageCharacter {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#vaderImageCharacter {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#soloImageCharacter {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#skywalkerImageEnemy {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid black ;
    background-color: red;
}

#fettImageEnemy {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid black ;
    background-color: red;
}

#vaderImageEnemy{
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid black ;
    background-color: red;
}

#soloImageEnemy {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid black ;
    background-color: red;
}

#skywalkerImageDefender {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid white ;
    background-color: black;
    color: white;
}

#fettImageDefender {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid white ;
    background-color: black;
    color: white;
}

#vaderImageDefender {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid white ;
    background-color: black;
    color: white;
    
}

#soloImageDefender {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid white ;
    background-color: black;
    color: white;
}

#battleZone {
    float: left;
    clear: both;
}




footer {

}