header {
    height: 100px;

}
#starwars {
    float: right;
    padding-right: 250px;

}


body {

}

#skywalkerImage {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#fettImage {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#vaderImage {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#soloImage {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#skywalkerImageCharacter {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#fettImageCharacter {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#vaderImageCharacter {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#soloImageCharacter {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid green ;
}

#skywalkerImageEnemy {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid black ;
    background-color: red;
}

#fettImageEnemy {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid black ;
    background-color: red;
}

#vaderImageEnemy{
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid black ;
    background-color: red;
}

#soloImageEnemy {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid black ;
    background-color: red;
}

#skywalkerImageDefender {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid white ;
    background-color: black;
    color: white;
}

#fettImageDefender {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid white ;
    background-color: black;
    color: white;
}

#vaderImageDefender {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid white ;
    background-color: black;
    color: white;
    
}

#soloImageDefender {
    width: 200px;
    height: 150px;
    float: left;
    padding: 15px;
    border: solid white ;
    background-color: black;
    color: white;
}

#battleZone {
    float: left;
    clear: both;
}




footer {

}